body {
    background-color: #1F1F1F;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
}

nav a {
    text-decoration: none;
    color: #CFCFCF;
    padding: 10px 20px;
    display: block;
}

nav a:hover {
    background-color: #FEDC56;
    color: #000; /* Set the text color to black when hovered */
}

h1{
    color: #CFCFCF;
}
h3{
    color: #CFCFCF;
}
h4{
    color: #819CD8;
    font-weight: bold;
}
.fs{
    color:#FEDC56;
}
h5{
    color: #FEDC56;
}
p{
    color: #CFCFCF;

}
.title{
    color: #FEDC56;
}
.pixels{
    font-size: 72px;
}
.viewpointv{
    font-size: 5vw;
}
.viewpointh{
    font-size: 5vw;
}
.em{
    font-size: 6em;
}

.absolute{
    width: 500px;
    height: 300px;
    background: #FF6961;
}
.relative{
    width: 26vw;
    height: 25vh;
    background: #FF6961;
}
.low{
    text-transform: lowercase;
    color: #219ebc;
}
.up{
    text-transform: uppercase;
    color: #FF6961;
}
.cap{
    text-transform: capitalize;
    color: #8A9A5B;
}
.shadowh{
    text-shadow: 10px 1px 10px red;
}
.shadowv{
    text-shadow: 1px 1px 10px red;
}

.shadowb{
    text-shadow: 1px 1px 10px red;
}
.alignL{
    text-align: left;
}
.alignR{
    text-align: right;
}
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
.indent{
    text-align: justify;
    text-indent: 2em;

}
.Lspacing{
    letter-spacing: 10px;
}
.Wspacing{
    word-spacing: 18px;
}
.lineheight-1{
    line-height: 28px;
}
.lineheight-2{
    line-height: 0px;
}
.nowrap{
    white-space: nowrap;
}
.normalwrap{
    white-space: normal;
}
.pre{
    white-space: pre;
}
.fonts-1{
    line-height: 0px;
    font-size: 88px;
}

.fonts-2{
    font-family: Verdana;
}
.fonts-3{
    font-family: Verdana;
}
.fonts-4{
    font-style: normal;
}
.fonts-5{
    font-style: oblique;
}
.fonts-6{
   font-variant: small-caps;
}
.fonts-7{
    font-family: 'REM', sans-serif;
 }
.fonts-8{
    font-family: 'REM', sans-serif;
    font-weight: light;
}
.fonts-9{
    font-family: 'REM', sans-serif;
    font-weight: bold;
}
.fonts-10{
    font-family: 'REM', sans-serif;
    font-weight: 900;
}
.backdrop {
    background: url('img/backdrop.png') scroll no-repeat 50% 35%/cover;
}
.pseudo-contents{
    text-align: center;
}
.btn-hover{
    background-color: #FEDC56;
    border-radius: 6px;
    border: 0px ;
}
.btn-hover:hover{
    background-color: #9B8632;
    color: antiquewhite;
}
.btn-hover:active{
    background-color: #9B8632;
    color: antiquewhite;
}
.btn-hover-1:disabled{
    opacity: 0.5;
}
.textfield:focus{
    border: 2px solid #FEDC56;
    outline: none;
}
label{
    color: antiquewhite;
}
input:checked{
    scale: 1.5;
}
.btn-hover-trans{
    background-color: #FEDC56;
    border-radius: 6px;
    border: 0px ;
    transition: 1s;
}
.btn-hover-trans:hover{
    background-color: #9B8632;
    border-radius: 6px;
    border: 0px ;
    color: antiquewhite;
}
.btn-hover-trans-1{
    background-color: #FEDC56;
    border-radius: 6px;
    border: 0px ;
    transition: 1.2s;
    width: 100px;
}
.btn-hover-trans-1:hover{
    background-color: #9B8632;
    border-radius: 6px;
    border: 0px ;
    color: antiquewhite;
    width: 200px;
}
.btn-hover-trans-2{
    background-color: #FEDC56;
    border-radius: 6px;
    border: 0px ;
    transition: width 1.2s, background-color 1s;
    width: 100px;
}
.btn-hover-trans-2:hover{
    background-color: #9B8632;
    border-radius: 6px;
    border: 0px ;
    color: antiquewhite;
    width: 200px;
}
.btn-hover-trans-3{
    background-color: #FEDC56;
    border-radius: 6px;
    border: 0px ;
    transition: 1s 3s;
    width: 100px;
}
.btn-hover-trans-3:hover{
    background-color: #9B8632;
    border-radius: 6px;
    border: 0px ;
    color: antiquewhite;
    width: 200px;
}
.btn-hover-trans-4{
    background-color: #FEDC56;
    border-radius: 6px;
    border: 0px ;
    transition: linear 1s;
    width: 100px;
}
.btn-hover-trans-4:hover{
    background-color: #9B8632;
    border-radius: 6px;
    border: 0px ;
    color: antiquewhite;
    width: 200px;
}
.btn-hover-trans-5{
    background-color: #FEDC56;
    border-radius: 6px;
    border: 0px ;
    transition: width 2s linear 1s;
    width: 100px;
}
.btn-hover-trans-5:hover{
    background-color: #9B8632;
    border-radius: 6px;
    border: 0px ;
    color: antiquewhite;
    width: 200px;
}
.bs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bs-content-1{
    height: 100px;
    width: 200px;
    box-shadow: 2px 2px black;
    border: 1px solid;
}
.bs-content-2{
    height: 100px;
    width: 200px;
    box-shadow: 2px 2px 5px black;
}
.bs-content-3{
    height: 100px;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5); /* This is the format x-off  y-off  blur  spread clor*/
    border-radius: 5px;
}
.bs-content-4{
    height: 100px;
    width: 200px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5); /* This is the format x-off  y-off  blur  spread clor*/
    border-radius: 5px;
}
.bs-content-5{
    height: 100px;
    width: 200px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5) inset; /* This is the format x-off  y-off  blur  spread clor*/
    border-radius: 5px;
}
.bs-content-6{
    height: 100px;
    width: 200px;
    box-shadow: 2px 2px 5px 2px red, -2px -2px 5px 2px blue;
    border-radius:  5px;
}

.ds-content-1{
    background: #FEDC56;
    color: #1F1F1F;
}
.ds-content-2{
    background: #FEDC56;
}
span{
    background: #FEDC56;
}
.ds-content-3{
    display: inline;
}
.ds-content-4{
    display: inline-block;
    width: 500px;
}
.note{
    font-size: 12px;
}
.ds-container-1{
    width: 100px;
    height: 100px;
    background-color: #8A9A5B;
    margin-top: 10px;
}
.ds-container-2{
    width: 100px;
    height: 100px;
    background-color: #8A9A5B;
    margin-top: 0px;
    display: inline-block;
}
h2{
    text-align: center;
}

#vis-2{
    visibility: hidden;
}
#vis-7{
    display: none;
}