body {
    background-color: #1F1F1F;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
}

nav a {
    text-decoration: none;
    color: #CFCFCF;
    padding: 10px 20px;
    display: block;
}

nav a:hover {
    background-color: #FEDC56;
    color: #000; /* Set the text color to black when hovered */
}

h1{
    color: #CFCFCF;
}
h3{
    color: #CFCFCF;
}
h4{
    color: #819CD8;
    font-weight: bold;
}
.fs{
    color:#FEDC56;
}
h5{
    color: #FEDC56;
}
p{
    color: #CFCFCF;

}
.title{
    color: #FEDC56;
}
.pixels{
    font-size: 72px;
}
.viewpointv{
    font-size: 5vw;
}
.viewpointh{
    font-size: 5vw;
}
.em{
    font-size: 6em;
}

.absolute{
    width: 500px;
    height: 300px;
    background: #FF6961;
}
.relative{
    width: 26vw;
    height: 25vh;
    background: #FF6961;
}
.low{
    text-transform: lowercase;
    color: #219ebc;
}
.up{
    text-transform: uppercase;
    color: #FF6961;
}
.cap{
    text-transform: capitalize;
    color: #8A9A5B;
}
.shadowh{
    text-shadow: 10px 1px 10px red;
}
.shadowv{
    text-shadow: 1px 1px 10px red;
}

.shadowb{
    text-shadow: 1px 1px 10px red;
}
.alignL{
    text-align: left;
}
.alignR{
    text-align: right;
}
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
.indent{
    text-align: justify;
    text-indent: 2em;

}
.Lspacing{
    letter-spacing: 10px;
}
.Wspacing{
    word-spacing: 18px;
}
.lineheight-1{
    line-height: 28px;
}
.lineheight-2{
    line-height: 0px;
}
.nowrap{
    white-space: nowrap;
}
.normalwrap{
    white-space: normal;
}
.pre{
    white-space: pre;
}
.fonts-1{
    line-height: 0px;
    font-size: 88px;
}

.fonts-2{
    font-family: Verdana;
}
.fonts-3{
    font-family: Verdana;
}
.fonts-4{
    font-style: normal;
}
.fonts-5{
    font-style: oblique;
}
.fonts-6{
   font-variant: small-caps;
}
.fonts-7{
    font-family: 'REM', sans-serif;
 }
.fonts-8{
    font-family: 'REM', sans-serif;
    font-weight: light;
}
.fonts-9{
    font-family: 'REM', sans-serif;
    font-weight: bold;
}
.fonts-10{
    font-family: 'REM', sans-serif;
    font-weight: 900;
}
.backdrop {
    background: url('img/backdrop.png') scroll no-repeat 50% 35%/cover;
}
